@import 'fonts';
@import 'variables';

.container {
    max-width: $content-width;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.w-full {
    width: 100%;
}

.\!w-full {
    width: 100% !important;
}

.text-primary {
    color: $text-primary;
}

.text-green {
    color: $primary;
}