// Colors
$primary: #52a535;
$primary-light: #86d562;
$secondary: #3D3938;
$dirt: #8C6E63;

$text-primary: #0d233e;
$text-hover: $primary-light;

$gray-50: #f9fafb;
$gray-100: #f4f5f7;
$gray-200: #e5e7eb;
$gray-300: #d2d6dc;
$gray-400: #9fa6b2;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;
// Colors

// Misc
$content-width: 1200px;
// Misc

// Navbar
$navbar-height: 80px;
// Navbar